body { 
    font-family: Arial, sans-serif;
     text-align: center;
      padding: 20px;
      background-color: ;#E3E6E6
 } 
 header {
    background-color: orange; 
     color: black; 
     padding: 10px;
     
} 
main {
     margin-top: 50px;
     }
 h1 { 
    margin: 0;
    padding: 0px;
   
    
 } 
 h2 { 
    font-size: 36px; 
    font-weight: normal; 
    margin-bottom: 20px; 
}
 p { 
    font-size: 20px; 
}
 a { 
    text-decoration: none; color: gold; 
}
.logo img{
    width: 80px;
    border-radius: 15px;
    position: relative;
    right: 150px;
    bottom: -40px;
  box-shadow: 5px 5px 15px red;
  
}